
@use './styles/colors' as *;  

/* reset minimo + dark */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }

:root { color-scheme: dark; }   

body {
  margin: 0;
  background: #121212;        
  color: #e5e5e5;             
}

.MuiPaper-root { background-color: #1e1e1e; color: #e5e5e5; }

body { background: #121212 !important; }
